body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.celdas{
  display: inline-block;
  background-color: #007bff; /* Color de fondo similar al de un botón */
  color: #fff; /* Color de texto en el botón */
  padding: 10px 20px; /* Relleno para darle espacio al texto dentro del botón */
  border: 2px solid #007bff; /* Borde del botón */
  border-radius: 5px; /* Bordes redondeados para que parezca un botón */
  text-decoration: none; /* Eliminar el subrayado predeterminado */
  font-weight: bold; /* Hacer que el texto sea negrita */
  text-align: center; /* Centrar el texto horizontalmente */
  text-transform: uppercase; /* Convertir el texto en mayúsculas */
  white-space: nowrap; /* Evitar saltos de línea en el texto largo */
  transition: background-color 0.3s ease; /* Agregar transición de color de fondo al pasar el cursor */
  margin: 10px;

}
.celdas:hover{
  background-color: #0cfb60; /* Cambiar el color de fondo al pasar el cursor sobre el botón */
  border-color: #000810; /* Cambiar el color del borde al pasar el cursor */

}
